/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   CSS Reset
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ========== GLOBAL VARIABLES ========== */

:root {
  --color-offblack: #303030;
}

/* Universal Selector */
* {
  /* border: solid 1px grey; */
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

/* ========== GENERAL ========== */

html {
  font-size: 62.5%;
}
body {
  background-color: whitesmoke;
  line-height: 1.5;
}
h1,
h2 {
  color: var(--color-offblack, dimgrey);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
h1 {
  color: whitesmoke;
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
p {
  color: var(--color-offblack, dimgrey);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin: 16px 0;
  padding: 8px 24px;
}
.section-horizontal-divider {
  margin-top: 16px;
  width: 100%;
}

/* ========== HELPERS ========== */

/* Flexbox Order Classes */
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}

/* ========== HEADER ========== */

header {
  background-color: var(--color-offblack, dimgrey);
  padding: 12px 24px 32px;
}
header h1 {
  padding: 8px 0;
}
nav {
  display: flex;
  flex-flow: row wrap;
  padding: 0 12px;
}
nav a {
  background-color: white;
  border: solid 1px var(--color-offblack, dimgrey);
  color: var(--color-offblack, dimgrey);
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  width: 160px;
}
nav a:hover {
  background-color: coral;
  color: whitesmoke;
}
.container-header {
  margin: auto;
  max-width: 1200px;
  padding: 0 8px;
}

/* ========== TOP ========== */

.container-split {
  display: flex;
  margin: auto;
  max-width: 1200px;
  padding: 16px;
  width: 100%;
}
.container-split .container-split-left {
  align-self: center;
  justify-self: center;
  width: 50%;
  margin-right: 26px;
}
.container-split .container-split-right {
  align-self: flex-end;
  padding: 0 5%;
  width: 50%;
}

/* ========== MIDDLE/CONTENT ========== */

.container-gallery-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
}
.container-gallery-grid-box {
  justify-content: center;
  padding: 4px 16px;
  width: 25%;
}
.container-gallery-grid-box img {
  justify-self: center;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.container-gallery-grid-caption {
  padding: 5%;
  text-align: center;
}

/* ========== FOOTER ========== */

footer {
  background-color: var(--color-offblack, dimgrey);
  padding: 32px 0;
}
.container-footer {
  margin: auto;
  max-width: 1200px;
  text-align: center;
}
.container-footer button {
  background-color: whitesmoke;
  border: none;
  color: var(--color-offblack, dimgrey);
  padding: 16px 32px;
}
.container-footer h2 {
  color: whitesmoke;
  margin: 0;
  padding: 16px;
}
.icon-social-media {
  height: 64px;
  object-fit: cover;
}
.icon-social-media img {
  background-color: var(--color-offblack);
}
.icon-social-media img:hover {
  border: solid 6px whitesmoke;
}

/* ========== MEDIA QUERIES ========== */

/* Tablet Formatting */
@media (max-width: 800px) {
  /* Header/Nav Area */
  header h1 {
    text-align: center;
  }
  nav {
    justify-content: center;
  }
  nav a {
    width: 25%;
  }
  /* Top Section */
  .container-split {
    flex-flow: row wrap;
  }
  .container-split .container-split-right,
  .container-split .container-split-left {
    margin: 0;
    width: 100%;
  }
  .container-split .container-split-right {
    text-align: center;
    margin-top: 16px;
  }
  /* Middle Section */
  .container-gallery-grid-box {
    width: 33%;
  }
}
/* Phone Formatting */
@media (max-width: 500px) {
  /* Header/Nav Area */
  nav {
    margin: auto;
    width: 200px;
  }
  nav a {
    padding: 8px;
    width: 100%;
  }
  /* Middle Section */
  .container-gallery-grid-box {
    width: 50%;
  }
}
